# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Type checkers
.mypy_cache/
.dmypy.json
pyrightconfig.json

# Environments
.env
.env.*
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints/

# IDEs
# VS Code
.vscode/

# PyCharm / IntelliJ
.idea/

# Spyder
.spyderproject
.spyproject

# Rope
.ropeproject

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Logs
*.log

# SQLite
*.sqlite3

# Other
/notes/
